<p>Καλώς 'Ηρθες <%= @email %>!</p>

<p>Μπορείς να επιβεβαιώσεις το email του λογαριασμού σου πατώντας το παρακάτω link</p>

<p><%= link_to 'Επιβεβαίωση Λογαριασμού', confirmation_url(@resource, :confirmation_token => @token) %></p>
