<p> Γειά σας <%= @resource.email %>!</p>

<p>Κάποιος έχει ζητήσει ένα link για αλλαγή του κωδικού σας. Πατήστε το παρακάτω link αν θέλετε να προχωρήσετε.</p>

<p><%= link_to 'Αλλαγή Κωδικού', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Αν δεν το ζητήσατε εσείς, παρακαλώ αγνοήστε αυτό το email.</p>
<p>Ο κωδικός σας δεν θα αλλάξει μέχρι να χρησιμοποιήσετε το παραπάνω link και να δημιουγήσετε ένα καινούριο κωδίκο.</p>
