<footer class="footer">
  <small>
    <span class="copyright"><%= t('copyright') %></span>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('contact'), contact_path %></li>
    </ul>
  </nav>
</footer>
