<footer class="footer">
  <small>
    <span class="copyright">Πτυχιακή εργασία Βασίλειος Καβάσης 2014-2015</span>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Επικοινωνία", contact_path %></li>
    </ul>
  </nav>
</footer>
