<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="header-top">
      <div class="container">
        <%= render 'layouts/secondary_menu' %>
      </div>
    </div>
  </div>
  <div class="navbar-inner">
    <div class="header-bottom">
      <div class="container">
        <%= render 'layouts/main_menu' %>
      </div>
    </div>
  </div>
</header>
