<header id="header">
  <div class="header-top">
    <div class="container">
      <%= render 'layouts/secondary_menu' %>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <%= render 'layouts/main_menu' %>
    </div>
  </div>
</header>
