<% if Rails.env.development? %>
   <div class="secondaryNav-inner  pull-left">
     <span>
       <%= link_to_unless_current "English", locale: "en" %> |
       <%= link_to_unless_current "Ελληνικά", locale: "el" %>
     </span>
   </div>
 <% end %>
