<div class="secondaryNav-inner  pull-right">
  <span>
    <% if !user_signed_in? %>
      <%= link_to "English", locale: "en" %>
      <span style="color:white"> | </span>
      <%= link_to "Ελληνικά", locale: "el" %>
    <% end %>
  </span>
</div>
