<div class="secondaryNav">
  <% if user_signed_in? %>
    <div class="secondaryNav-inner pull-right">
      <span>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <span style="color:white"> | </span>
        <%= link_to 'Edit profile', edit_user_registration_path, method: :get %>
        <% current_user.canceled_account %>
      </span>
    </div>
  <% else %>
    <div class="secondaryNav-inner  pull-right">
      <span>
        <%= link_to 'Sign in', user_session_path, method: :get %>
        <span style="color:white"> or </span>
        <%= link_to 'Sign up', new_user_registration_path, method: :get %>
      </span>
    </div>
  <% end %>
</div>

